<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikky.hisab" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.READ_CONTACTS" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/title_activity_main_screen" >
        </activity>
        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name=".AddFriendsActivity"
            android:label="@string/title_activity_add_friends" >
        </activity>
        <activity
            android:name=".ComputeActivity"
            android:label="@string/title_activity_compute" >
        </activity>
    </application>

</manifest>
